@using Driver.Domain.Entities
@model CarEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var viewData = (List<CarEntity>)ViewData["data"]!;
    var i = 0;
}

<h2>title</h2>
<partial name="_CreateDriver"/>
<partial name="_UpdateDriver"/>

<button class="btn btn-primary" type="button" onclick="CreateCar()">
    Create
</button>

@if (viewData != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">DriverId</th>
            <th scope="col">Number</th>
            <th scope="col">Color</th>
            <th scope="col">Model</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in viewData)
        {
            <tr class="align-middle">
                <th scope="row">@(i++)</th>
                <td>@item.DriverId</td>
                <td>@item.Number</td>
                <td>@item.Color</td>
                <td>@item.Model</td>
                <td>
                    <a onclick="UpdateCar('@item.Id')" type="button" class="btn btn-link">
                        Update
                    </a>
                    <a asp-controller="Driver" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-link">
                        Delete
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<script>

    function CreateCar() {
      const form = document.getElementById('createDriver');
      const formObject = new bootstrap.Offcanvas(form);
      formObject.toggle();
    }
	
    function UpdateCar(id) {
      const form = document.getElementById('updateDriver');
      const formObject = new bootstrap.Offcanvas(form);
	  
	  fetch('/Driver/GetDriverById?Id=' + id)
        .then((response) => response.json())
        .then((response) => {
			
            const id = document.getElementById('DriverId');
            const fullName = document.getElementById('DriverFullName');
            const birthDate = document.getElementById('DriverBirthDate');
			
			id.value = response.id;
			
			fullName.value = response.fullName;
			
			var date = new Date(response.birthDate);
			birthDate.value = date.toISOString().substring(0, 10);
			
			formObject.toggle();
        });
    }
	
</script>