@using Driver.Domain.Entities
@model CarEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var viewData = (List<CarEntity>)ViewData["data"]!;
    var i = 0;
}

<h2>title</h2>
<partial name="_CreateCar"/>
<partial name="_UpdateCar"/>

<button class="btn btn-primary" type="button" onclick="CreateCar()">
    Create
</button>

@if (viewData != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">DriverId</th>
            <th scope="col">Number</th>
            <th scope="col">Color</th>
            <th scope="col">Model</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in viewData)
        {
            <tr class="align-middle">
                <th scope="row">@(i++)</th>
                <td>@item.DriverId</td>
                <td>@item.Number</td>
                <td>@item.Color</td>
                <td>@item.Model</td>
                <td>
                    <a onclick="UpdateCar('@item.Id')" type="button" class="btn btn-link">
                        Update
                    </a>
                    <a asp-controller="Driver" asp-action="DeleteDriver" asp-route-id="@item.Id" type="button" class="btn btn-link">
                        Delete
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<script>

    function CreateCar() {
      const form = document.getElementById('createCar');
      const formObject = new bootstrap.Offcanvas(form);
      formObject.toggle();
    }
	
    function UpdateCar(id) {
      const form = document.getElementById('updateCar');
      const formObject = new bootstrap.Offcanvas(form);
	  
	  fetch('/Driver/GetCarById?Id=' + id)
        .then((response) => response.json())
        .then((response) => {
			
            const id = document.getElementById('CarId');
            const number = document.getElementById('CarNumber');
            const color = document.getElementById('CarColor');
            const model = document.getElementById('CarModel');
			
			id.value = response.id;
			number.value = response.number;
			color.value = response.color;
			model.value = response.model;
			
			formObject.toggle();
        });
    }
	
</script>