@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Driver.Domain.Entities
@model RideCompanion.ViewModels.DriverViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var viewData = (List<DriverEntity>)ViewData["data"]!;
    var i = 0;
}

<h2>title</h2>

<partial name="_CreateDriver"/>
<partial name="_UpdateDriver"/>

<button class="btn btn-primary" type="button" onclick="CreateDriver()">
    Create
</button>

@if (viewData != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in viewData)
        {
            <tr class="align-middle">
                <th scope="row">@(i++)</th>
                <td>@item.FullName</td>
                <td>@item.BirthDate</td>
                <td>
                    <a onclick="UpdateDriver('@item.Id')" type="button" class="btn btn-link">
                        Update
                    </a>
                    <a asp-controller="Driver" asp-action="DeleteDriver" asp-route-id="@item.Id" type="button" class="btn btn-link">
                        Delete
                    </a>
                    |
                    <a asp-controller="Driver" asp-action="Cars" asp-route-id="@item.Id" type="button" class="btn btn-link">
                        Cars
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<script>

    function CreateDriver() {
      const form = document.getElementById('createDriver');
      const formObject = new bootstrap.Offcanvas(form);
      formObject.toggle();
    }
	
    function UpdateDriver(id) {
      const form = document.getElementById('updateDriver');
      const formObject = new bootstrap.Offcanvas(form);
	  
	  fetch('/Driver/GetDriverById?Id=' + id)
        .then((response) => response.json())
        .then((response) => {
			
            const id = document.getElementById('DriverId');
            const fullName = document.getElementById('DriverFullName');
            const birthDate = document.getElementById('DriverBirthDate');
			
			id.value = response.id;
			
			fullName.value = response.fullName;
			
			var date = new Date(response.birthDate);
			birthDate.value = date.toISOString().substring(0, 10);
			
			formObject.toggle();
        });
    }
	
</script>